*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}
.container{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
     text-align: center;
}
h1{
    color: blue;
    font-size: 80px;
    font-weight: bolder;
    margin-top: 10px;

}
.btn{
    
    display: flex;
    justify-content: center;
    text-align: center;
}
#btn1{
    font-size: larger;
    width: 30px;
    border: 2px solid black;
    border-radius: 4px;
}
#btn2{
    font-size: larger;
    width: 60px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
}
#btn3{
    font-size: larger;
    width: 30px;
    border: 2px solid black;
    border-radius: 4px;
}
#value{
     font-size: 50px;
     font-weight: bolder;
     color:blueviolet
}