 .main {
     font-family: 'Arial', sans-serif;
     /* background-color: rgb(133, 128, 128); */
     margin: 0;
     display: block;
     align-items: center;
     justify-content: center;
     height: 27vh;
 }
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 60%; 
     padding: 40px;
     backdrop-filter: blur(8px);
     background-color: #ffffff23;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
 }
 
 
 .box {
     /* display: inline-block; */
     width: 35%;
     padding: 20px;
     margin: 10px;
     background-color: #e0e0e0;
     border-radius: 8px;
 }
 
 .budget {
     background-color: #242925;
     color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .remaining-budget {
     background-color: #2f3439;
     color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .expenses {
     background-color: #363027;
     color: #fff;
     box-shadow: 0 0 10px rgba(38, 34, 34, 0.1);
 }
 .userfield{
     margin-left: 280px;
     margin-top: 20px;
     background-color: rgb(93, 135, 141);
 }
 .nextcontain{
     display: flex;
     justify-content: space-between;
 }
 #selection{
     font-size: x-large;   
 }
 #enter-expanse{
     font-size: x-large;
     margin-right: 120px;
     border: 2px solid rgb(230, 46, 202);
     border-radius: 8px;
     text-align: center;
 }
 
 #expenses{
     font-size: 20px;
     border-radius: 4px;
     cursor: pointer;
 }
 .selection{
     cursor: pointer;
 }
 .submit-btn{
     margin-left: 70px;
     font-size: x-large;
     background-color: rgb(84, 81, 81);
     border-radius: 8px;
     color: white;
     padding: 4px;
     cursor: pointer;
 }
 .submit-btn:hover{
     background-color: #4caf50;
 }
 .items{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
 }
 
 /* Your existing CSS styles */
 
 .list {
     /* background-color: #f0f0f0;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     list-style: none;
     width: 800px; */
     font-size: larger;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 0;
     border-bottom: 1px solid #ccc
 }
 
 
 .list:hover {
     background-color: #e0e0e0;
     transition: background-color 0.3s ease;
 }
 
 .list p {
     margin: 50;
 }
 .rembtn{
     font-size: 20px;
     border-radius: 8px;
     background-color: rgb(81, 61, 61);
     color: #fff;
     padding: 5px;
     /* margin-left: 200px; */
     align-items:safe;
 }
 .rembtn:hover{
     background-color: red;
 }
 .editbtn12{
     font-size: 20px;
     border-radius: 8px;
     background-color: rgb(52, 45, 45);
     /* margin-left: 90px; */
     align-items: right;
     padding: 5px;
     color: #fff;
 }
 .editbtn12:hover{
     background-color: gray;
 }
 
 .items{
     margin-bottom: 20px;
 }
 #filter{
     font-size: x-large;
     margin-left: -320 px;
 }
 .filterlist{
     background-color: #f0f0f0;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     list-style: none;
     width: 800px;
     font-size: larger;
 }
 .filterlist:hover{
     background-color: #e0e0e0;
     transition: background-color 0.3s ease;
 }
 .filterlist p {
     margin: 0;
 }
 #include{
     font-size: x-large;
     background-color: #2196f3;
     border-radius: 8px;
     margin-left: 20px;
 }
 
 #otherText{
    position: fixed;
    display: none;
    top: 38%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 26px;
    left: 58%;
    border-radius: 2px;
    color: black;
    z-index: inherit;
    width: 102px;
 }
 #otherText::placeholder{
     color: black;
 }
 #newFillterList{
     text-align: center;
    margin-left: 310px;
 }
 
 .goog-te-gadget {
     font-size: larger;
     border: 2px solid black;
     border-radius: 8px;
     padding: 6px;
     font-family: arial;
     font-size: 11px;
     color: #666;
     white-space: nowrap;
     display: ruby;
 }
   