 /* css for modals */
 #modal{
  display: none;
  position: fixed;
  top: 10%;
  left:13%;
  width: 100%;
  height:400px;
  background: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  background-image: url('https://img.freepik.com/free-photo/high-angle-budget-wooden-blocks_23-2148543187.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709683200&semt=ais');
  
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  text-align: center;
    
   }
   #inp{
    font-size: xx-large;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-top: 20px;
    background-color: gray;
    margin-bottom: 150px;
   }
   #inp::placeholder{
    color: white;
   }
   .btn{
    display: flex;
    justify-content: space-between;
   }
   .button{
    font-size: xx-large;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   #cancel{
    background-color: rgb(235, 140, 140);
   }
   #cancel:hover{
    background-color: red;
    cursor: pointer;
   }
   #update{
    background-color: rgb(13, 172, 13);
    color: #fff;
   }
   #update:hover{
    cursor: pointer;

   }
   #bud{
    cursor: pointer;
   }