*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
}
.container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh; */
    
}
button{
    font-size: 15px;
    font-weight: bolder;
    width: 70px;
    height: 40px;
    border-radius: 10px 10px 10px black;
    margin-right: 15px;
    border-radius: 10px;
    cursor: pointer;


}
button:hover{
    background-color: rgb(144, 202, 183);
}